<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible"
		content="IE=edge">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0">

	<link rel='stylesheet'
		href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css'
		integrity='sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=='
		crossorigin='anonymous' />
	<link rel="stylesheet"
		href="/css/style.css">
	<title>Document</title>
</head>

<body class="bg-dark">
	{% block content %}
	{% endblock %}
	<!-- <script src="/javascript/socket.io/socket.io.min.js"></script> -->
</body>

</html>